@import '../../scss/main.scss';
.custom-button__container{
	width: 10rem;
	.custom-button{
		width: 100%;
		padding: 1rem 0;
		color: $light;
		background: $primary;
		border: 1px solid transparent;
		opacity: .95;
		cursor: pointer;
		transition: all .5s;
		border-radius: 5px;
		font-weight: 600;
		&:hover{
			opacity: 1;
		}
		&:focus{
			outline: none;
		}
	}
}

//min-width: 10rem;
//	width: 20.5rem;