@import '../../scss/main.scss';

.post-item__container{
	@include background;
	position: relative;
	.post{
		&__item-header{

		}

		&__item-header-user-info{
			display: grid;
			grid-template-columns: repeat(2, max-content) 1fr;
			align-items: center;
			grid-gap: 1.5rem;
			padding: 1rem 1rem .7rem 1rem;
			&.no-post{
				padding-bottom: 0!important;
			}
		}

		&__item-header-user-image-container{
			width: 4rem;
			height: 4rem;
			border-radius: 50%;
			overflow: hidden;
			box-shadow: 0 0 2px rgba($dark, .4);
		}

		&__item-header-user-image{
			width: 100%;
			height: 100%;
		}

		&__item-header-user-name-container{
			display: grid;
			line-height: 1.5rem;
		}

		&__item-header-user-name{
			font-size: 1.3rem;
			color: $gray-3;
			letter-spacing: .1px;
			@media only screen and (max-width: 50em){
				font-size: 1.2rem;
			}
		}

		&__item-header-user-time{
			font-size: 1rem;
			letter-spacing: .5px;
			font-weight: 400;
			color: $gray-4;
		}



		// post image
		&__item-image-container{
			margin-top: 1rem;
			border-top: 1px solid $light-4;
			border-bottom: 1px solid $light-4;
		}
		&__item-image{
			display: block;
			width: 100%;
			height: 100%;
		}
		//reaction buttons
		&__item-reaction-buttons-container{

		}
		//caption
		&__item-caption-container{
			display: flex;
			padding: 0 1rem 0 1rem;
			&.no-image{
				margin-top: 3px;
				margin-bottom: -5px;
			}
		}

		&__item-caption{
			color: $gray;
			font-size: 1.3rem;
			margin-left: .4rem
		}
		&__item-caption-user-name{
			font-size: 1.3rem;
			color: $gray;
			font-weight: 500;
			letter-spacing: .1px;
		}
	}
}
