@import '../../scss/main.scss';
.reaction-button-container{
	.reaction{
		&__buttons{
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			//grid-template-columns: repeat(3, 1fr);
			justify-items: center;
			grid-gap: 1rem;
			border: 1px solid $light-9;
			border-right: none;
			border-left: none;
			padding: 1rem 0;
		}
		&__button{
			cursor: pointer;
			margin-bottom: 3px;
			.far{
				font-size: 2.5rem;
				transition: all .5s;
				&:hover{
					color: $semi-light;
				}
			}
			&.active{
				color: $secondary;
				.far{
					&:hover{
						color: $secondary;
					}
				}
			}
		}
		&__counts-container{
			display: grid;
			grid-gap: 1rem;
			grid-template-columns: repeat(2, max-content);
			margin-bottom: 1rem;
			align-items: center;
			justify-content: space-between;
		}

		&__counts{
			font-size: 1.2rem;
			font-weight: 600;
			color: $gray;
			font-weight: 500;
			cursor: pointer;
			.far{
				color: $secondary;
			}

		}
	}
}