@import '../../scss/main.scss';
.timeline{
	&__button-container{
		@include position(absolute, unset, 1.5rem, 1.5rem, unset);
		display: flex;
		flex-direction: column;
	}

	&__button-following{
		display: grid;
		grid-template-columns: repeat(3, max-content);
		grid-gap: 1rem;
		padding: 5px 1rem;
		background: $light;
		border: none;
		color: $gray;
		position: relative;
		&:focus{
			outline: none;
		}

		&.follow{
			display: flex;
			cursor: pointer;
			transition: color .5s, transform .05s;
			padding: 5px 1.5rem;
			&:hover{
				color: $secondary;
				&:active{
					transform: scale(.9);
				}
			}
		}
	}

	&__button-text{
		font-weight: 600;
	}

	&__button-icon{
		transition: all .5s;
		&.down{
			cursor: pointer;
			&:hover{
				color: $secondary;
			}
		}
	}

	&__dropdown{
		@include position(absolute, unset, 0, -2.8rem, unset);
		display: flex;
		background: $light;
		width: 100%;
		opacity: 0;
		visibility: hidden;
		transition: all .5s;
		box-shadow: 0 0 10px rgba($dark, .3);
		padding: 5px 1rem;

		&.active{
			opacity: 1;
			visibility: visible;
		}

		.timeline__spinner-container{
			margin-left: -7px;
			margin-right: 1.2rem;
		}

		&-button{
			width: 100%;
			font-weight: 600;
			color: inherit;
			cursor: pointer;
			transition: all .5s;

			&:hover{
				color: $secondary;
				text-shadow: 0 0 10px rgba($secondary, .2);
			}
		}
	}


	&__spinner-container{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 8px;
	}

	&__spinner{
		display: inline-block;
	  	width: 1.5rem;
		height: 1.5rem;
		border: 3px solid rgba($dark, 0.2);
		border-radius: 50%;
		border-top-color: $secondary;
		animation: spin 1s ease-in-out infinite;

	}
}