@import '../../scss/main.scss';
.posts{
	&__no-post{
		text-align: center;
		color: $gray-5;
		font-weight: 300;
		font-size: 2rem;
		background: $light-4;
		padding: 2.6rem 1rem;
		border-radius: 5px;
	}
}


