@import '../../scss/main.scss';
.signin-form{
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	background: $light;
	box-shadow: 0 3px 10px rgba($dark, .2);
	padding: 1.5rem 2rem;
	border-radius: 5px;
	position: relative;

	&.has-error{
		& >:nth-child(3){
			margin-bottom: 1rem;
		}
	}

	.header-4,
	.header-3{
		text-align: center;
		width: 100%;
	}
	.header-4{
		font-weight: 600;
		font-family: 'Architects Daughter', cursive;
		color: $secondary;
	}

	.header-3{
		text-align: center;
		color: $gray;
	}
	.form{
		&__group{
			width: 100%;
			margin-bottom: 8px;
		}

		&__feedback{
			margin-top: 5px;
			margin-left: 1rem;
			color: $danger;
			font-weight: 500;
			font-size: 1.1rem;
		}

		&__feedback-attempt-container{
			color: $danger;
			font-weight: 400;
			font-size: 1.1rem;
			text-align: center;
			&.has-error{
				margin-bottom: 1rem;
			}
		}

		&__feedback-attempt{

		}

		&__button-container{
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__button-instead{
			font-size: 1.4rem;
			color: $secondary;
			font-weight: 600;
			text-shadow: 0 5px 10px rgba($dark, .3);
		}
	}

}