@import '../../scss/main.scss';
.suggestions{
	&__container{
		@include background;
		padding: 1rem;
	}

	&__header-container{
		display: grid;
		grid-template-columns: repeat(2, max-content);
		justify-content: space-between;
		margin-bottom: 1rem;
	}

	&__title{
		font-size: 1.5rem;
	}

	&__see-all{
		font-size: 1.2rem;
		font-weight: 600;
		color: $gray;
		transition: all .5s;
		&:hover{
			color: $secondary;
		}
	}

}