@import '../../scss/main.scss';
.suggestions{
	&__container{
		@include background;
		padding: 1rem;
	}

	&__header-container{
		display: grid;
		grid-template-columns: repeat(2, max-content);
		justify-content: space-between;
		margin-bottom: 1rem;
	}

	&__title{
		font-size: 1.4rem;
		font-weight: 500;
		color: $gray-8;
	}

	&__see-all{
		font-size: 1.3rem;
		font-weight: 500;
		color: $gray-8;
		transition: all .5s;
		&:hover{
			color: $secondary;
		}
	}

	&__nothing-placeholder-container{
		padding: 1.5rem 1rem;
		background: $light-3;
	}

	&__nothing-placeholder{
		font-size: 1.3rem;
		text-align: center;
		display: block;
	}

}