@import '../../scss/main.scss';
.photos{
	&__image-container{
		height: 100%;
		background: $dark;
	}

	&__image{
		width: 100%;
		height: 100%;
		object-fit: cover;
		cursor: pointer;
		transition: all .5s;
		opacity: .7;
		&:hover{
			opacity: 1;
		}
	}

}