@import '../../scss/main.scss';
.follower{
	&__item{
	}

	&__link{
		color: $dark;
		display: flex;
		align-items: center;

	}
	&__image-container{
		width: 8rem;
		height: 8rem;
		border-radius: 50%;
		overflow: hidden;
		margin-right: 5px;
	}
	&__image{
		width: 100%;
		height: 100%;
	}
	&__info{
		display: grid;
	}
	&__name{
		color: $gray;
		font-weight: 600;
		font-size: 1.3rem;
	}
	&__email{
		font-size: 1.1rem;
		color: $gray;
	}
}