@import '../../scss/main.scss';
.photos{
	@include background()
	overflow: hidden;
	&__header{
		@include timelineContentHeader()
	}

	&__icon-container{
		margin-right: 5px;

	}

	&__icon{
		font-size: 2.5rem;
		font-weight: 600!important;
	}

	&__lists{
		padding: 7px;
		display: grid;
		grid-auto-rows: 23rem;
		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
		grid-gap: 7px;
		&.single-box{
			grid-template-columns: 26.1rem;

			@media only screen and(max-width: 31.25em){
				grid-auto-rows: 25rem;
				grid-template-columns: 1fr;
			}
		}


		@media only screen and(max-width: 31.25em){
			grid-auto-rows: 20rem;
		}

		@media only screen and(max-width: 28.375em){
			grid-auto-rows: 25rem;
		}
	}


	&__modal-overlay{
		@include position(fixed, 0, 0, unset, unset);
		background: linear-gradient(rgba($dark, .7), rgba($dark, .7));
		width: 100%;
		height: 100vh;
		padding: 0 3rem;

	}

	&__content{
		margin: 13rem auto 0 auto;
		max-width: 55rem;
		background: $light;
		border-radius: 5px;
		overflow: hidden;
		position: relative;

		@media only screen and(max-width: 50em){
			max-width: 50rem;
		}
	}

	&__content-header{
		display: flex;
		align-items: center;
		padding: 1rem 1rem 5px 1rem;
		&.reset-padding{
			padding: 1rem!important;
		}
	}

	&__user-image-container{
		width: 4rem;
		height: 4rem;
		margin-right: 1rem;
		border-radius: 50%;
		overflow: hidden;
	}

	&__user-image{
		width: 100%;
		height: 100%;
	}

	&__name-container{
		line-height: 1.3rem;
	}

	&__name{
		font-size: 1.3rem;
		color: $gray-3;
		font-weight: 600;
		letter-spacing: .1px;

		@media only screen and(max-width: 50em){
			font-size: 1.1rem;
		}
	}

	&__time{
		line-height: 1.6rem;
	}

	&__caption{
		padding: 0 1rem;
		padding-bottom: 5px;
		color: $gray;
		font-size: 1.3rem;
		font-weight: 500;
	}

	&__modal-image-container{
		width: 100%;
		height: 40rem;

		@media only screen and(max-width: 37.5em){
			height: unset;
		}
	}

	&__modal-image{
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;

		@media only screen and(max-width: 50em){
			object-fit: unset;
		}
	}

	&__close-button{
		@include position(absolute, 1rem, 1.1rem, unset, unset);
		.fas{
			cursor: pointer;
			transition: all .5s;
			font-size: 1.5rem;
			&:hover{
				color: $danger;
			}
		}
	}
}