@import '../../scss/main.scss';
.timeline-user-info{
	&-container{
		@include background()
		position: relative;
	}

	&__bio-container{
		padding: 1rem;
	}

	&__header-container{
		display: flex;
		align-items: center;
	}

	&__header-icon-container{
		margin-right: 5px;
		font-size: 2rem;
		color: $secondary;
	}

	&__title{
		font-size: 1.6rem;
		color: $gray;
	}
	&__icon-edit-container{
		font-size: 2rem;
		margin-left: auto;
		cursor: pointer;
		transition: all .5s;
		&:hover{
			color: $secondary;
		}
	}
	&__form-overlay{
		@include position(absolute, 0, 0, unset, unset);
		padding: 1rem;
		background: linear-gradient(rgba($dark, .7), rgba($dark, .7));
		width: 100%;
		height: 100%;
		opacity: 0;
		visibility: hidden;

		transition: all .5s;
		&.visible{
			opacity: 1;
			visibility: visible;
		}
	}

	&__form-container{
		background: $light;
	}

	&__form-header-container{
		display: grid;
		grid-template-columns: repeat(2, max-content);
		justify-content: space-between;
		align-items: center;
		background: $light-2;
		padding: 8px 1rem;
		border-bottom: 1px solid $light-4;
	}

	&__form-header-title{

	}
	&__form-header-icon-container{
		.fas{
			cursor: pointer;
			transition: all .5s;
			&:hover{
				color: $danger;
			}
		}
	}
	&__input{
		resize: none;
		border: none;
		width: 100%;
		padding: 1rem;
		color: inherit;
		&.no-featured{
			height: 3.55rem;	
		}	

		&:focus,
		&:hover{
			outline: none;
		}
	}
	&__form-group{
		display: flex;
		align-items: center;
		padding: 1rem;
		padding-top: 0;
		&.active{
			& >:first-child{
				margin-right: 5px;
			}
		}
		
	}

	&__label{
		cursor: pointer;
		padding: 0 1.3rem;
		background: $light-3;
		border-radius: 20rem;
		font-weight: 600;
		transition: all .5s;
		display: flex;
		align-items: center;	

		&:hover{
			background: $light-5;
		}
	}

	&__icon-container{
		margin-right: 5px;
	}

	&__text{

	}

	&__image-file{
		display: none;
	}
	&__image-container{
		width: 4rem;
		height: 2.7rem;
		border-radius: 5px;
		overflow: hidden;
		justify-self: end;
		position: relative;
		background: $dark;
		margin-right: auto;
	}
	&__image{
		width: 100%;
		height: 100%;
		object-fit: cover;
		opacity: .7;
	}
	&__image-close{
		@include position(absolute, 50%, unset, unset, 50%);
		transform: translate(-50%, -50%);
		color: $light;
		font-size: 1.5rem;
		cursor: pointer;

		transition: color .5s;
		&:hover{
			color: $danger;
		}
	}

	&__button{
		padding: 5px 1.3rem;
		border-radius: 5px;
		cursor: pointer;
		background: $semi-light;
		border: none;
		color: $light;
		font-weight: 600;
		transition: all .5s;
		margin-left: auto;
		&:focus{
			outline: none;
		}
		&.active{
			background: $secondary;
		}
		&.hide-button{
			display: none;
		}
	}

	&__spinner-container{
		display: none;
		justify-content: center;
		align-items: center;
		cursor: unset;
		margin-left: auto;
		&.active{
			display: flex;
		}
	}

	&__spinner{
		display: inline-block;
	  	width: 2rem;
		height: 2rem;
		border: 3px solid rgba($dark, 0.2);
		border-radius: 50%;
		border-top-color: $secondary;
		animation: spin 1s ease-in-out infinite;
	}

	&__content-container{
		text-align: center;
	}
	&__icon-container{
		font-size: 1.8rem;
	}

	&__icon{
	}
	&__bio{
		padding: 1rem 0 1rem 0;
		font-size: 1.3rem;
		border-bottom: .2px solid $light-4;
		font-weight: 500;
		&.active{
			color: $secondary;
			cursor: pointer;
		}
	}

	&__featured-photo-container{
	}

	&__featured-photo{
		width: 100%;
	}
}