@import '../../scss/main.scss';
.timeline{
	&__padding{
		padding: 0 3rem;
	}
	&__container{
		max-width: 80rem;
		margin: 0 auto;
	}

	&-header-container{
		margin-bottom: 1.5rem;
		@media only screen and(max-width: 37.5em){
			margin-bottom: 1.8rem;
			position: relative;
		}
	}

	&__cover-image-container{
		background: linear-gradient(rgba($dark, .85), rgba($dark, .85));
		height: 20rem;
		position: relative;
	}
	&__cover-image{
		width: 100%;
		height: 100%;
		opacity: .5;
	}

	&__dropdown-icon-container{
		@include position(absolute, unset, 5px, 5px, unset);
		padding: 3.4px 1.2rem;
		display: flex;
		align-items: center;
		background: $light;
	}
	&__dropdown-icon{
		color: $gray;
		font-size: 2rem;
	}


	//mobile
	&__user-display-photo-info-container{
		@include background();
		padding: 0 1rem 1rem 1rem;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-top: none;
	}

	&__lists-dropdown{
		@media only screen and(max-width: 37.5em){
			@include position(absolute, 19.6rem, 5px, unset, unset);
			background: $light;
			box-shadow: 0 0 5px rgba($dark, .3);
			z-index: 2000;
			display: none;
			&.visible{
				display: unset;
			}
		}
	}

	&__user-image-container{
		width: 17rem;
		height: 17rem;
		margin-top: -13.8rem;
		margin-left: 1.5rem;
		position: relative;
		background: $light;
		
		border-radius: 50%;
		border: 1px solid $light-9;

		@media only screen and(max-width: 37.5em){
			margin: -10rem auto 0 auto;
			width: 14rem;
			height: 14rem;
		}
	}

	&__user-image{
		width: 100%;
		height: 100%;
		border-radius: 50%;
	}
	&__name-container{
		@include position(absolute, 7rem, unset, unset, 18.5rem);
		display: flex;
		width: 40rem;
		flex-direction: column;
		letter-spacing: .5px;

		@media only screen and(max-width: 37.5em){
			position: unset;
			flex-direction: unset;
			justify-content: center;
			align-items: center;
			width: unset;
		}
	}
	&__name{
		font-weight: 700;

		@media only screen and(max-width: 37.5em){
			margin-right: 5px;
		}

		@media only screen and(max-width: 25em){
			font-size: 1.8rem;
		}

	}

	&__nickname,
	&__name{
		color: $light;
		@media only screen and(max-width: 37.5em){
			color: $gray;
		}
	}

	&__nickname{
		display: inline-block;
		font-size: 1.6rem;
		line-height: 15px;
		font-weight: 500;
		@media only screen and(max-width: 37.5em){
			font-size: 1.7rem;
			font-weight: 600;
		}
		@media only screen and(max-width: 25em){
			font-size: 1.6rem;
		}
	}

	&__lists-container{
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		@include background();
		border-top-right-radius: 0;
		border-top-left-radius: 0;
		border-top: none;
		@media only screen and(max-width: 37.5em){
			display: none;
		}
	}
	&__item{
		height: 5rem;
		overflow: hidden;
		&:last-child .timeline__link{
			border-bottom-right-radius: 5px;
		}

		@media only screen and(max-width: 37.5em){
			height: 2.5rem;
			width: 8.8rem;
		}

	}
	&__link{
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1.6rem;
		font-weight: 500;
		color: $secondary;
		cursor: pointer;

		transition: all .5s;
		&:hover{
			background: $light-5;
		}

		@media only screen and(max-width: 50em){
			font-size: 1.4rem;
		}

		@media only screen and(max-width: 37.5em){
			font-size: 1.3rem;
		}

	}

	// POST
	&-feed-container{
		display: grid;
		grid-template-columns: 35% 1fr;
		align-items: start;
		grid-gap: 2rem;
		@media only screen and(max-width: 37.5em){
			grid-template-columns: 1fr;
		}
	}

	&__post-user-info{

	}

	&__post-container{

	}

}