@import '../../scss/main.scss';
.about{
	@include background();
	&__header-container{
		padding: 1rem;
		@include timelineContentHeader()
		
		& >:last-child{
			cursor: pointer;
			&:hover{
				color: $secondary;
			}
		}
	}

	&__icon-container{
		margin-right: 5px;
		font-size: 2.1rem;
		i{
			transition: all .5s;
		}
	}

	&__title{
		margin-right: auto;
	}

	&__info-container{
		padding: 1rem;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
		grid-gap: 1rem;
	}

	&__info{
		font-size: 1.3rem;
		color: $gray-8;
		span{
			font-size: 1.4rem;
			color: $gray-4;
		}
	}


	//FORM!

	&__form-overlay{
		@include position(absolute, 0, 0, unset, unset);
		background: linear-gradient(rgba($dark, .7), rgba($dark, .7));
		padding: 0 2rem;
		width: 100vw;
		height: 100vh;
		opacity: 0;
		visibility: hidden;
		transition: all .5s;
		&.active{
			opacity: 1;
			visibility: visible;
		}
	}

	&__form{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		@include background();
		max-width: 80rem;
		margin: 25rem auto 0 auto;
		padding: 2rem;
		grid-gap: 1rem;
		position: relative;
	}

	&__form-icon-container{
		@include position(absolute, 1rem, 1rem, unset, unset);
		.fas{
			font-size: 1.3rem;
			transition: all .5s;
			cursor: pointer;
			&:hover{
				color: $danger;
			}
		}
	}

	&__form-group{
		display: grid;
	}

	&__label{
		font-size: 1.3rem;
		color: $gray;
		font-weight: 600;
	}

	&__input{
		padding: 5px 1rem;
		border: 1px solid $gray;
		border: 1px solid $light-10;
		color: inherit;
		&:focus{
			outline: none;
		}
		&.profile{
			display: none;
		}

	}

	&__label-profile-button{
		display: flex;
		align-items: center;	
		justify-content: center;
		height: 100%;
		background: $light-3;
		cursor: pointer;
		font-size: 1.3rem;
		padding: 5px 1rem;
		border-radius: 20rem;
		font-weight: 600;
		transition: all .5s;

		&:hover{
			background: $light-5;
		}
	}

	&__form-icon-profile-container{
		margin-right: 5px;
	}

	&__form-text-profile{

		.far{
		}
	}

	&__radio-button-container{
		display: grid;
		grid-template-columns: repeat(6, max-content);
		grid-gap: 1rem;
		align-items: center;
	}

	&__radio-button{
		cursor: pointer;
	}
	&__radio-button-label{
		color: $gray;
		font-weight: 500;
		font-size: 1.3rem;
	}


	//display image
	&__image-display-container{
		justify-self: center;
		width: 100%;
		height: 3rem;
		border-radius: 5px;
		overflow: hidden;
		position: relative;
		background: $dark;
	}

	&__image-display{
		width: 100%;
		height: 100%;
		object-fit: cover;
		opacity: .7;
	}


	&__image-display-close{
		@include position(absolute, 50%, unset, unset, 50%);
		transform: translate(-50%, -50%);
		color: $light;
		font-size: 1.5rem;
		cursor: pointer;

		transition: color .5s;
		&:hover{
			color: $danger;
		}
	}

	&__image-display-text{
		justify-self: center;
		align-self: center;
		font-size: 1.2rem;
	}

	&__button-container{
		grid-column: 3 / 4;
	}

	&__button{
		width: 100%;
		padding: 6px 1rem;
		background: $secondary;
		border: 2px solid $secondary;
		border-radius: 5px;
		color: $light;
		cursor: pointer;
		font-weight: 600;
		&:focus{
			outline: none;
		}
	}
	&__spinner-container{
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: unset;
	}

	&__spinner{
		display: inline-block;
	  	width: 2rem;
		height: 2rem;
		border: 3px solid rgba($dark, 0.2);
		border-radius: 50%;
		border-top-color: $secondary;
		animation: spin 1s ease-in-out infinite;
		margin-bottom: 7px;
	}
}