@import '../../scss/main.scss';
@keyframes spin {
    0% {
      -webkit-transform: rotate(360deg);
    }
}

.loading{
	&__spinner-overlay{
		display: flex;
		justify-content: center;
		align-items: center;
		&.full-size{
			@include position(absolute, 0, 0, unset, unset);
			width: 100vw;
			height: 100vh;
			background: $light;
			margin-top: -5rem;
			z-index: 100;
		}
		&.medium-size{
			padding: 4.1rem 1rem;
		}
	}

	&__spinner{
		display: inline-block;
		border: 3px solid rgba($dark, 0.2);
		border-radius: 50%;
		border-top-color: $secondary;
		animation: spin 1s ease-in-out infinite;
	  	width: 4rem;
		height: 4rem;

		&.small{
		  	width: 2rem!important;
			height: 2rem!important;
		}
		&.medium{
		  	width: 3rem!important;
			height: 3rem!important;
		}
	}
}
