@import '../../scss/main.scss';
.signup-form{
	padding: 17rem 3rem 0 3rem;
	@media only screen and(max-width: 31.25em){
		padding: 15rem 3rem 0 3rem;
	}

	.container{
		max-width: 50rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		background: $light;
		box-shadow: 0 3px 10px rgba($dark, .2);
		padding: 1.5rem 2rem;
		border-radius: 5px;
		position: relative;
	}

	&__spinner-container{
		@include position(absolute, 2rem, 16.8rem, unset, unset);
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__spinner{
		display: inline-block;
	  	width: 2rem;
		height: 2rem;
		border: 3px solid rgba($dark, 0.2);
		border-radius: 50%;
		border-top-color: $secondary;
		animation: spin 1s ease-in-out infinite;

	}

	.header-4,
	.header-3{
		text-align: center;
		flex: 0 1 100%;
	}
	.header-4{
		font-weight: 600;
		font-family: 'Architects Daughter', cursive;
		color: $secondary;
	}

	.header-3{
		text-align: center;
		color: $gray;
	}
	.form{
		&__group{
			min-width: 15rem;
			flex: 0 1 49%;
			margin-bottom: 1rem;

			&.large{
				min-width: unset;
				flex: 0 1 100%;
			}

			@media only screen and(max-width: 21.875em){
				min-width: unset;
				flex: 0 1 100%;
			}
		}
		&__feedback{
			margin: 5px 0 0 1rem;
			opacity: .8;
			color: $danger;
			font-size: 1rem;
			font-weight: 600;
		}
		&__button-container{
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&__button-instead{
			font-size: 1.4rem;
			color: $secondary;
			font-weight: 600;
			text-shadow: 0 5px 10px rgba($dark, .3);
		}
	}
}