@import '../../scss/main.scss';

.add-post__container{
	@include background;
	margin-bottom: 2rem;
	overflow: hidden;
	.header-5{
		background: $light-2;
		padding: .8rem 1rem;
		border-bottom: 1px solid $light-4;
	}
	.add-post{
		&__form{
		}

		&__form-group{
			display: grid;
		}

		&__form-input{
			border: none;
			padding: 1rem;
			color: inherit;
			resize: none;
			font-family: inherit;
			&:focus{
				outline: none;
			}
			@media only screen and(max-width: 50em){
				font-size: 1.3rem;
			}
		}
		&__button-container{
			display: flex ;
			align-items: center;
			grid-gap: 1rem;
			padding:  1rem;
			align-items: center;
		}

		&__label{
			cursor: pointer;
			padding: .8rem 2rem;
			background: $light-3;
			border-radius: 20rem;
			font-weight: 600;
			transition: all .5s;
			font-size: 1.1rem;
			&:hover{
				background: $light-5;
			}

			@media only screen and(max-width: 50em){
				padding: 8px 1.5rem;
			}

			@media only screen and(max-width: 21.875em){
				padding: 5px 1.3rem;
			}
		}

		&__icon{
			padding-right: 5px;
		}


		&__image-container{
			width: 7rem;
			height: 3rem;
			border-radius: 5px;
			overflow: hidden;
			position: relative;
			background: $dark;
			margin-left: 1rem;
		}

		&__image{
			width: 100%;
			height: 100%;
			object-fit: cover;
			opacity: .7;
		}

		&__image-close{
			@include position(absolute, 50%, unset, unset, 50%);
			transform: translate(-50%, -50%);
			color: $light;
			font-size: 1.5rem;
			cursor: pointer;

			transition: color .5s;
			&:hover{
				color: $danger;
			}
		}

		&__image-file{
			display: none;
		}

		&__button{
			padding: .7rem 1.5rem;
			border-radius: 5px;
			cursor: pointer;
			background: $semi-light;
			opacity: .9;
			border: none;
			color: $light;
			font-weight: 600;
			transition: all .5s;
			margin-left: auto;

			&.active{
				background: $secondary;
			}
			&:hover{
				opacity: 1;
			}
			&:focus{
			 outline: none;
			}

			@media only screen and(max-width: 50em){
				padding: .7rem 1rem;
				font-size: 1.4rem;
			}

			@media only screen and(max-width: 21.875em){
				padding: 4px 8px;
				font-size: 1.3rem;
			}
		}
	}
}
