@import '../../scss/main.scss';

.header{
	background: $light;
	box-shadow: 0 2px 0 rgba($secondary, .5);
	position: relative;
	z-index: 9999;
	padding: 0 3rem;

	.container{
		position: relative;
	}

	&__nav{
		display: grid;
		grid-template-columns: repeat(2, max-content);
		justify-content: space-between;
		align-items: center;
		padding: 1rem 0;
	}

	&__logo{
		font-size: 2.5rem;
	    font-family: 'Architects Daughter', cursive;
	    font-weight: 600;
		color: $secondary;
	}

	&__nav-lists{
		postiion: relative;
		display: grid;
		grid-template-columns: repeat(3, max-content);
		align-items: center;
		grid-gap: 1rem;
		transition: all .5s;
	}

	&__nav-item{
		&:hover{
			.header__nav-link{
				color: $secondary;
				text-shadow: 0 3px 5px rgba($secondary, .2);
			}
		}
	}

	&__nav-link{
		font-size: 1.3rem;
	    font-family: 'Architects Daughter', cursive;
		letter-spacing: .1rem;
		color: inherit;
		transition: all .5s;
		font-weight: 600;
		.fa-home{
			font-size: 2.5rem;
		}
	}
	//https://www.google.com/search?q=avatar+placeholder&sxsrf=ALeKk00oMwcNxRQF3WevHW5mJDuf3k8sgA:1591210100633&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjds77Gp-bpAhVWPHAKHUOOAckQ_AUoAXoECA8QAw&biw=1536&bih=754#imgrc=Am_mx_eGSGVaSM
	//IMAGES IN LINK
	&__nav-link.timeline{
		display: flex;
		align-items: center;
	}
	&__nav-link-image-container{
		width: 3rem;
		height: 3rem;
		border-radius: 50%;
		overflow: hidden;
		margin-right: .5rem;
		box-shadow: 0 0 2px rgba($dark, .3);
	}

	&__nav-link-image{
		width: 100%;
		height: 100%;
		transform: scale(1.25);
	}

	//BUTTONS
	&__nav-button-container{
		transition: border .5s;
		display: grid;
		&:hover{
				.fas{
					color: $secondary;
				}
			}
	}

	&__nav-button{
		cursor: pointer;
		.fas{
			transition: color .5s;
			font-size: 1.6rem;
			font-weight: 600;
			&.active{
				color: $secondary;
			}
		}
	}

	&__dropdown{
		@include position(absolute, unset, 0, -5.5rem, unset);
		display: grid;
		background: $light;
		box-shadow: 0 5px 10px rgba($dark, .2);
		border: 1px solid $light-3;
		transition: all .5s;
		opacity: 0;
		visibility: hidden;
		z-index: 1000;
		padding: .5rem 0;
		grid-gap: .5rem;
		&.active{
			opacity: 1;
			visibility: visible;
		}
	}

	&__dropdown-link{
		font-weight: 600;
		color: inherit;
		transition: all .5s;
		cursor: pointer;
	    font-family: 'Architects Daughter', cursive;
	    letter-spacing: .1rem;
		font-size: 1.1rem;
		padding: 0 2rem;
		&:hover{
			color: $secondary;
			text-shadow: 0 3px 5px rgba($secondary, .2);
		}
	}
}