@import '../../scss/main.scss';
.add-comment__form{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr max-content;
	.add-comment{
		&__input,
		&__button{
			border: none;
			color: inherit;
			padding: 1.5rem 1rem;
			border-radius: 5px;
			&:focus{
				outline: none;
			}
		}

		&__input{
			padding-right: 0;
			@media only screen and(max-width: 50em){
				font-size: 1.2rem;
			}
		}

		&__button{
			color: $semi-light;
			cursor: pointer;
			background: transparent;
			font-weight: 600;
			transition: all .5s;
			padding: 1.5rem 1.5rem;
			&.active{
				color: $secondary;
			}

			@media only screen and(max-width: 37.5em){
				font-size: 1.4rem;
			}
		}
	}
}