@import '../../scss/main.scss';
.comment__item{
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	grid-gap: .5rem;
	height: 3.5rem;
	.comment{
		&__item-description{
			background: $light-2-medium;
			display: flex;
			align-items: center;
			border-radius: 20rem;
			height: 100%;
			padding: 0 1.5rem;
		}
		&__item-name{
			font-weight: 600;
			font-size: 1.3rem;
			margin-right: 5px;
			color: $gray-3;
		}
		&__item-comment{
			font-weight: 400;
			font-size: 1.2rem;
		}
		&__item-time{
			font-size: 1.1rem;
			margin-right: 1.5rem;
		}
	}
}