@import '../../scss/main.scss';
.comments{
	&__container{
		padding: 1rem 1rem 0 1rem;
		display: grid;
		grid-gap: 5px;
	}

	&__lists-container{
		display: grid;
		grid-gap: 5px;
		justify-items: start;
		padding-bottom: 0;
		height: 0;
		transition: all .5s;
		backface-visibility: hidden;
		overflow: auto;


		&.active{
			padding: 1rem 0;
			height: 4.5rem;
			&.two{
				height: 8.5rem;
			}

			&.three{
				height: 13rem;
			}
		}


	}
}