@import '../../scss/main.scss';
.comments{
	&__container{
		padding: 1rem 1rem 0 1rem;
		display: grid;
		grid-gap: 5px;
	}

	&__lists-container{
		display: grid;
		grid-row-gap: 1rem;
		justify-items: start;
		padding-bottom: 0;
		height: 0;
		transition: all .5s;
		backface-visibility: hidden;
		overflow: auto;

		&::-webkit-scrollbar{
            width: 1rem;
        }
        &::-webkit-scrollbar-track{
            background: $light-4;
            border-radius: 1rem;
        }
        &::-webkit-scrollbar-thumb{
            background: $gray-9;
            border-radius: 1rem;
        }
        &::-webkit-scrollbar-thumb:hover{
            background: $gray-6;
        }


		&.active{
			padding: 1rem 0;
			height: 4.5rem;
			&.two{
				height: 8.5rem;
			}

			&.three{
				height: 13rem;
			}
		}


	}
}