@import '../../scss/main.scss';
.following{
	@include background();
	overflow: hidden;
	&__header{
		@include timelineContentHeader()
	}

	&__icon-container{
		margin-right: 5px;
	}

	&__icon{
		font-size: 2.1rem;
	}

	&__title{
		font-weight: 600!important;
	}

	&__lists{
		@include timelineContentLayout()
	}
}