*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 56.25em){
  html{
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 37.5em){
  html{
    font-size: 50%;
  }
}

body{
  font-weight: 300;
  line-height: 1.6; 
  /*$gray-4*/
  color: rgb(100, 100, 100);
  background: rgb(245, 245, 245);
  /*background: rgb(230, 230, 230);*/
  position: relative;
}

body::-webkit-scrollbar{
    width: 2rem;
}
body::-webkit-scrollbar-track{
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2));
    border-radius: 1rem;
}
body::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0, .3);
    border-radius: 1rem;
}
body::-webkit-scrollbar-thumb:hover{
    background: rgba(0, 0, 0, .6);
}

::selection {
    background: #08546c;
    color: #fff;
}

/*022534*/
a:link,
a:visited{
  text-decoration: none;
}

li{
  list-style: none;
}

.container{
  max-width: 95rem;
  margin: 0 auto;
}


