@mixin position($position, $top, $right, $bottom, $left){
	position: $position;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

@mixin background{
	background: $light;
	border-radius: 5px;
	border: 1px solid $light-6;
}

@mixin timelineContentHeader{
	display: flex;
	align-items: center;
	background: $light-2-medium;
	border-bottom: 1px solid $light-6;
	padding: 1rem;
}

@mixin timelineContentLayout{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
	grid-gap: 1rem;
	padding: 2rem;
}