// COLORS

// Main colors
$primary: #022534;
$secondary: #08546c;
$semi-light: #a0bacc;

//dark brown to orange
//#3d1f1d
//#a73728
//#df643f

// Black & White colors

// light
$light: rgb(255, 255, 255);
$light-2: rgb(250, 250, 250);
$light-3: rgb(240, 240, 240);
$light-4: rgb(230, 230, 230);
$light-5: rgb(220, 220, 220);
$light-6: rgb(210, 210, 210);
$light-7: rgb(200, 200, 200);
$light-8: rgb(190, 190, 190);
$light-9: rgb(180, 180, 180);
$light-10: rgb(170, 170, 170);

// gray
$gray: rgb(70, 70, 70);
$gray-2: rgb(80, 80, 80);
$gray-3: rgb(90, 90, 90);
$gray-4: rgb(100, 100, 100);
$gray-5: rgb(110, 110, 110);
$gray-6: rgb(120, 120, 120);
$gray-7: rgb(130, 130, 130);
$gray-8: rgb(140, 140, 140);
$gray-9: rgb(150, 150, 150);
$gray-10: rgb(160, 160, 160);

// dark
$dark: rgb(0, 0, 0);
$dark-2: rgb(5, 5, 5);
$dark-3: rgb(10, 10, 10);
$dark-4: rgb(15, 15, 15);
$dark-5: rgb(20, 20, 20);
$dark-6: rgb(25, 25, 25);
$dark-7: rgb(30, 30, 30);
$dark-8: rgb(35, 35, 35);
$dark-9: rgb(40, 40, 40);
$dark-10: rgb(50, 50, 50);
$dark-11: rgb(60, 60, 60);