@import '../../scss/main.scss';
.homepage{

	.container{
		display: grid;
		grid-template-columns: 1fr 35%;
		grid-gap: 3rem;
		margin-top: 3.5rem;
	}

	.friends-suggestion-container{
		border-radius: 5px;
	}

	.newsfeed__container{

	}

	.friends-suggestion-container{

	}
}