@import '../../scss/main.scss';
.suggested{
	&-container{
		padding: 0 3rem;
		.container{
			@include background();
			margin-top: 9.5rem;
			padding: 1rem;
		}
	}

	&__users-container{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: 2rem;
		button{
			background: $secondary;
			opacity: .8;
			color: $light;
			padding: 7px 10px;
			border-radius: 5px;
		}

		@media only screen and(max-width: 50em){
			grid-template-columns: repeat(2, 1fr);
		}

		@media only screen and(max-width: 37.5em){
			grid-template-columns: 1fr;
		}

	}

	&__title{
		font-weight: 500;
		margin-bottom: 1rem;
	}

	&__nothing-placeholder-container{
		padding: 1.5rem 1rem;
		background: $light-3;
	}

	&__nothing-placeholder{
		font-size: 1.3rem;
		text-align: center;
		display: block;
	}
}